/*Основные стили: ссылки, типографика*/

a{text-decoration: none;
color: #0060a0;
border-bottom: 1px solid;
border-bottom-color: rgba(0, 96, 160, 0.2);
}


a:visited{color: #6a2795;border-bottom-color: rgba(106, 39, 149, 0.2);}

a:hover, a:active{
color: #d04000;
text-decoration: none;
border-bottom-color: rgba(208, 64, 0, 0.2);}

a:focus { text-decoration:none; }



.smallcaps {
	  font-size: 0.875em;
	  letter-spacing: 0.15em;
    margin-right: -0.15em;
	}

	.bordered {
    border: 1px solid #eeeeee;
}

.work__multiplication_bordered {
    border: 3px solid black;
}

.container {
	margin-top: 65px;

}

/*Джаваскрипт не работает*/
.java-doesnt-work,
.java-doesnt-work a {
	background-color: red;
	color: white;
	font-size: 14px;
	text-align:center;
}

.java-doesnt-work a {
	border-bottom:1px solid
}

/*Табы*/
a.tabs {
	border-bottom: 1px dashed;
}

a.tabs:hover {
	color: #e14538;
	border-bottom: 1px dashed #e14538;
	cursor: pointer;

}



ul.navtab {
list-style: none;
margin: 0;
padding: 0;
}

ul.navtab li {
padding-left: 4px;
padding-right: 15px;
text-decoration: none;
display: inline;
}

ul.navtab li .selected,
ul.navtab li .selected:hover {
    background: #eee;
		border: none;
		color: rgb(0, 0, 0);
		padding: 6 6 6 6;
		border-radius: 3px;
}

ul.navtab li:focus {
outline: 0;
}



div.tabs p {
	font-size: 14px;
	margin-bottom: 26px;
}

div.tabs h3 {
	font-size: 16px;
}


/*Главная страница*/
.main__about-me_text {
	font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 22px;
  line-height: 1.42857143;
}
.main__about-me_avatar
.main.about-me_avatar_text {
	font-size: 12px;
	margin-top: 0.6em;
}

/*Портфолио*/

.work__ul {
list-style:none;
padding:0px;
margin:0px;
margin-bottom:30px;
font-size:14px;
}

.work__client {
font-style: italic;
}

.img__bordered {
border: 1px solid #eeeeee;
}



.main__about-me {
	font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 22px;
  line-height: 1.42857143;
}

.main__image_circle {
    border-radius: 50%;
}

.main__menu {
	margin-top: 5px; margin-left: 10px; list-style: none;
}

.main__menu_item {
	padding: 15px;
	display: inline-block;
}

.vizitka__p {
	font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 22px;
  line-height: 1.42857143;
}
